{% extends "core/base.html" %}

{% block title %}File {{ filename }}{% endblock title %}

{% block content %}
  <div class="table-container">
    <header>
      <h2>{{ filename }}</h2>
    </header>

    <table class="table">
      <thead>
        <tr class="table__row">
          {% for field in header %}
            <th class="table__header">
              <a href="{% url 'core:document-value-count' filename=filename %}?fields={{ field }}">
                {{ field }}
              </a>
            </th>
          {% endfor %}
        </tr>
      </thead>

      <tbody id="document-table-body">
        {% for row in page_results %}
          <tr class="table__row">
            {% for column in row %}
              <td>{{ column }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if page_obj.has_next %}
      <form method="GET" class="table-paginator-form" action="?page={{ page_obj.next_page_number }}">
        <button type="submit" class="table-paginator-btn">Load more</button>
      </form>
    {% endif %}
  </div>
{% endblock content %}
