@use '../abstracts';


.tally {
  display: flex;
  margin-top: 1em;

  &__btn {
    border: 1px solid lightgrey;
    border-radius: abstracts.$sec-border-radius;
    color: abstracts.$pry-blue;
    background-color: abstracts.$pry-white;
    padding: 0.75em 1.25em;
    font-weight: 500;
    transition: background-color 0.2s;

    &:hover,
    &--selected {
      background-color: #e6e3e3;
    }

    &--selected {
      box-shadow: 0.02rem 0.025rem 0.2rem 0 rgba(0, 0, 0, 0.7) inset;
    }
  }

  &__form {
    margin-left: 2em;

    button {
      border: 1px solid transparent;
      color: abstracts.$sec-white;
      background-color: abstracts.$sec-blue;
      font-size: 0.95rem;
      letter-spacing: 0.02em;
      padding: 0.5em 1.25em;
      border-radius: abstracts.$pry-border-radius;
      transition: color 0.25s, background-color 0.25s;

      &:hover {
        color: abstracts.$pry-white;
        background-color: abstracts.$pry-blue;
      }
    }
  }
}